@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    /* display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 1024px; */
    margin: 0px;
    padding: 0px;
}

#header {
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    /* margin: 0 auto; */
    align-items: center;
    margin-bottom: 5vh;

    min-height: 50px;
    box-shadow: 0 0 15px #00214B;
    height: 8vh;
}

#header-img {
    /* margin: 5vh 0 5vh 0; */
    /* padding: 5vh 0 5vh 0; */
    width: 450px;
    display: block;
    margin-right:  auto;
    border: black solid 1px;
}

#nav-bar {
    /* display: block; */
    /* position: fixed; */
    top: 0;
    width: 43vw;
    /* background: rgb(0, 0, 255, 0.7); */
    /* z-index: 2; */
}

.navbBar {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    /* padding: 0 60px; */
    color: #282626;
    text-decoration: none;
    list-style: none;
    outline: none;
    cursor: pointer;
    font-size: 30px;
}

.nav-link a {
    /* padding: 0 50px; */
    color: #282626;
    text-decoration: none;
    list-style: none;
    outline: none;
    cursor: pointer;
    font-size: 30px;
}
